body {
    background: rgb(242, 241, 241);
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    line-height: 25px;
    margin: 0;
    padding: 0;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.header > nav > div {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
}

.perfil-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh; /* Altura mínima ajustada para o perfil */
    margin: 30px;
    width: 80%;
    justify-content: center;
    gap: 20px;
}

.perfil-detalhe {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 20vh; /* Altura mínima ajustada para detalhes */
    padding: 0 40px;
    text-align: center;
}

.perfil-detalhe > h1 {
    color: rgb(91, 168, 168);
    font-size: 70px;
    margin: 7px 0 15px;
}

.perfil-detalhe-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 0 10%;
    width: 100%;
}

.perfil-detalhe-2 > section {
    max-height: 400px;
    min-width: 200px;
    padding: 30px;
    width: 100%;
}

section > p {
    margin-top: 5px;
}

.text-font {
    color: black;
}

.botao {
    border-color: #e07102;
    border-radius: 30px;
    border-style: solid;
    cursor: pointer;
    font-size: 13px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    width: 140px;
}

.botao:hover {
    background-color: #e65a50;
    color: white;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.redes-sociais-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apresentacao {
    align-items: center;
    background: #e07102;
    display: flex;
    flex-direction: column;
}

.eu-sou {
    color: white;
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.foto-perfil {
    border-radius: 50%;
    position: relative;
    margin-top: 20px;
}

footer {
    align-items: center;
    background: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    width: 100%;
}

footer > p {
    color: white;
    text-align: center;
    width: 50%;
}

.hamburguer {
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    float: right;
    height: 25px;
    margin-left: auto;
    position: absolute;
    right: 100px;
    top: 20px;
    width: 30px;
    justify-content: space-around;
}

.hamburguer-linha {
    background-color: #000000;
    height: 3px;
    width: 100%;
}

@media (min-width: 700px) {
    html,
    body {
        height: 100vh;
    }
}

@media (max-width: 700px) {
    .perfil-detalhe-2 {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .perfil-detalhe {
        padding-bottom: 50px;
    }

    .apresentacao {
        margin-top: 100px;
    }
}
