.titulo-formulario {
    text-align: center;
    margin-bottom: 1.25rem;
}

#contactForm {
    width: 100%; /* Altera a largura para 100% */
    max-width: 25rem; /* Define uma largura máxima */
    margin: 2.5rem auto; /* Centraliza o formulário */
    padding: 1.875rem;
    border: 1px solid #ccc;
    border-radius: 0.625rem;
    background-color: #f9f9f9;
    min-height: 21.875rem; /* Mantém a altura mínima */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

#contactForm input,
#contactForm textarea {
    width: calc(100% - 1.25rem);
    /* Ajusta a largura para evitar que fique grudado */
    padding: 0.625rem;
    margin: 0.625rem 0;
    /* Margem vertical */
    border-radius: 0.3125rem;
    border: 1px solid #d3d3d3;
    /* Borda cinza claro quando não está em foco */
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #999;
    /* Cor da borda cinza médio quando está em foco */
    outline: none;
    /* Remove o contorno padrão */
}

#contactForm input::placeholder,
#contactForm textarea::placeholder {
    font-family: sans-serif;
    font-size: 14px;
    color: #aaa;
}

#contactForm textarea {
    resize: none;
    /* Remove o mover da caixa de texto */
}

.botao-enviar {
    display: block;
    /* Faz o botão ser um bloco */
    margin: 1.25rem auto;
    /* Centraliza horizontalmente */
    background-color: transparent;
    color: black;
    border-color: rgb(185, 84, 185);
    border-radius: 1.875rem;
    border-style: solid;
    cursor: pointer;
    font-size: 13px;
    height: 3.125rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    width: 8.125rem;
}

.botao-enviar:hover {
    background-color: rgb(185, 84, 185);
    color: white;
}

.error {
    position: absolute;
    max-width: 100%;
    color: red;
    font-size: 12px;
    display: none;
    /*começa escondida*/
}

.enviado {
    font-size: 14px;
    display: none; /* Começa escondida */
    margin-top: 0.625rem;
    transition: opacity 0.5s; /* Transição suave */
    padding: 0.625rem; /* Espaçamento interno */
    border-radius: 0.3125rem; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
}

#formularioEnviado {
    opacity: 1;
    /* Inicia visível */
    transition: opacity 0.5s;
    /* Transição suave */
    padding: 0.625rem;
    /* Espaçamento interno */
    border-radius: 0.3125rem;
    /* Bordas arredondadas */
    text-align: center;
    /* Centraliza o texto */
}

#formularioEnviado.success {
    background-color: #d4edda;
    /* Fundo verde claro */
    color: black;
    /* Texto preto */
}

#formularioEnviado.formularioIncompleto {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: black; /* Texto preto */
}

.obrigatorio {
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.aviso {
    color: red;
    font-size: 13px;
    visibility: hidden;
}
