.perfil-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 1.875rem;
    width: 80%;
    justify-content: center;
    gap: 1.25rem;
}

.perfil-detalhe {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
    padding: 0 2.5rem;
    text-align: center;
}

.perfil-detalhe>h1 {
    color: rgb(185, 84, 185);
    font-size: 70px;
    margin: 0.4375rem 0 0.9375rem;
}

.perfil-detalhe-2 {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: space-between;
    margin: 0.625rem;
    padding: 0 6.25%;
    width: 100%;
}

.perfil-detalhe-2>section {
    max-height: 25rem;
    min-width: 12.5rem;
    padding: 1.875rem;
    width: 100%;
}

.text-font {
    color: black;
}

.botao {
    border-color: rgb(185, 84, 185);
    border-radius: 1.875rem;
    border-style: solid;
    cursor: pointer;
    font-size: 13px;
    height: 3.125rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    width: 8.75rem;
}

.botao:hover {
    background-color: rgb(185, 84, 185);
    color: white;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.redes-sociais-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apresentacao {
    align-items: center;
    background: rgb(185, 84, 185);
    display: flex;
    flex-direction: column;
}

.eu-sou {
    color: white;
    position: relative;
    text-align: center;
    top: -6.25rem;
    z-index: 1;
}

.foto-perfil {
    border-radius: 50%;
    position: relative;
    top: -6.25rem;
    z-index: 1;
}
